.header_block {
    height: 60px;
}

.DesktopHeader {
    top: 0;
    width: 100%;
    backdrop-filter: blur(8px);
    position: fixed;
    left: 0;
    z-index: 10;

    .DesktopHeaderContainer{
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        // 
        // background-color: #EAEAEA;
        width: 100%;
        padding: 40px 50px !important;
    }
   
    // background-color: #cd000066;

    .LeftSection {
        display: flex;
        gap: 50px;
    }

    .RightSection {
        display: flex;
        gap: 50px;
    }

    button {
        cursor: pointer;
    }

    .Catalog {
        display: flex;
        justify-content: center;
        border: 3px solid #CD0000;
        height: 60px;
        border-radius: 10px;
        padding: 0;
        cursor: pointer;
        transition: 0.2s;


        .Catalog_char {
            background-color: #CD0000;
            height: 100%;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 17px 15px 13px 13px;
            font-size: 20px;
            transition: 0.2s;

        }

        .Catalog_char:hover {
            transition: 0.2s;
            padding: 17px 15px 13px 43px;

        }

        .Catalog_img {
            padding: 8px;
            transition: 0.2s;

            img {
                transition: 0.2s;

            }
        }

        .Catalog_img:hover {
            transition: 0.2s;

            img {
                transition: 0.2s;

                transition: 0.2s;
                // transform: scale(120%);
                transform: rotate(45deg);
            }
        }
    }

    .Logo {
        height: 60px;
        padding: 13px;
        font-size: 30px;
        border: 3px solid #CD0000;
        border-radius: 10px;
        font-weight: bold;
        color: #CD0000;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 11px;

        img {
            transition: 0.4s;
        }
    }

    .Logo:hover {
        img {
            transition: 0.4s;
            transform: rotate(180deg) scale(95%);

        }
    }

    .SearchContainer {
        display: flex;

        button {
            color: white;
            background-color: #CD0000;
            border-radius: 0 10px 10px 0;
            border: 0;
            font-size: 20px;
            padding: 17px;
            z-index: 999999;
        }
    }

    .Cart {
        height: 60px;
        border: 3px #CD0000 solid;
        border-radius: 10px;
        width: 60px;
        background-color: #CD0000;
    }
}