.header_block{
    height: 60px;
}

header {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    position: fixed;
    z-index: 10;
    backdrop-filter: blur(8px);
    background-color: #EAEAEA;
    width: 100%;

    .LeftSection {
        display: flex;
        gap: 50px;
    }

    .RightSection {
        display: flex;
        gap: 50px;
    }

    button {
        cursor: pointer;
    }

    .Catalog {
        display: flex;
        justify-content: center;
        border: 3px solid #CD0000;
        height: 60px;
        border-radius: 10px;
        padding: 0;

        .Catalog_char {
            background-color: #CD0000;
            height: 100%;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 17px 15px 13px 13px;
            font-size: 20px;
        }

        .Catalog_img {
            padding: 8px;
        }
    }

    .Logo {
        height: 60px;
        padding: 13px;
        font-size: 30px;
        border: 3px solid #CD0000;
        border-radius: 10px;
        font-weight: bold;
        color: #CD0000;
    }

    .SearchContainer {
        display: flex;

        button {
            color: white;
            background-color: #CD0000;
            border-radius: 0 10px 10px 0;
            border: 0;
            font-size: 20px;
            padding: 17px;
            z-index: 999999;
        }
    }

    .Cart {
        height: 60px;
        border: 3px #CD0000 solid;
        border-radius: 10px;
        width: 60px;
        background-color: #CD0000;
    }
}