.Feed{
    // margin-top: 5rem;
    margin-top: 36px;
    .list{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 50px;
    }
}

@media screen and (max-width: 920px) {
    .Feed{
        margin-top: 0px;
        .list{
            justify-content: space-between;
            gap: 20px;
        }
    }
}