header {
    top: 0;
    height: 76px;
    background-color: rgba(255, 255, 255, 0);
    width: calc(100% - 40px);
    // background-color: green;
    // backdrop-filter: unset !important;
    padding-bottom: 4px;

    .navigation {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 0px;
        align-items: center;

        h1 {
            display: flex;
            flex-direction: column;
            text-align: center;
            color: #CD0000;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                font-size: 27px;
            }

            span {
                font-size: 11px;
            }
        }

        .burger {
            button {
                background-color: #CD0000 !important;
                border-radius: 12px;
                padding: 16px !important;

                svg {
                    font-size: 24px !important;
                }
            }
        }

        .additional {
            button {
                background-color: #CD0000 !important;
                border-radius: 12px;
                padding: 16px !important;

                svg {
                    font-size: 24px !important;
                }
            }
        }
    }
}