.newfactory {
    .boxer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90vh;

        .CardLogin {
            margin-top: 88px;
            width: 360px;
            // background-color: rgba(255, 0, 0, 0.359);
            // background-color: ;
            border-radius: 32px;
            box-shadow: 11px 11px 22px #969696,
                -11px -11px 22px #ffffff;
            padding: 24px;
            display: flex;
            flex-direction: column;
            gap: 48px;

            .header {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 12px;

                h4 {
                    font-size: 32px;
                }
            }

            .CardLoginForm {
                display: flex;
                flex-direction: column;
                gap: 24px;

                p {
                    margin-bottom: 8px;
                    text-align: start;
                    color: #000000b7;
                }

            }

            .RegisterSubmit {
                button {
                    background-color: #CD0000;
                }
            }

        }

        .RegisterFirst {
            position: absolute;
            // margin-top: 44px;
            bottom: 24px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            // width: 360px;

            p {
                font-size: 14px;
                color: #000000a8;
                text-align: end;

                .Link {
                    text-decoration: underline;
                    color: #CD0000;
                }

            }
        }
    }
}


// @media screen and (max-width: 920px) {
//     .newfactory {
//         margin-top: 200px;

//         .header {
//             margin-bottom: 24px;
//         }

//         .forms {

//             height: unset !important;
//             // max-width: 240px;
//             align-items: flex-start !important;

//             .form {
//                 max-width: 100%;

//                 .input {
//                     width: 100%;
//                 }
//             }
//         }
//     }
// }