.product_details {

    // background-color: red;
    main {
        display: flex;
        justify-content: flex-start;
        gap: 50px;
        overflow: visible;

        .Details {
            min-width: calc(50% - 25px);

            // background-color: red;
            .factory {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .manufacter {
                    display: flex;
                    justify-content: flex-start;
                    gap: 12px;
                    align-items: center;

                    div {
                        height: 50px;
                        width: 50px;
                        border-radius: 25px;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    img {
                        height: 50px;
                        // border-radius: 25px;
                    }
                }

                .approved {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;

                    .approved_info {
                        font-size: smaller;
                        color: rgba(0, 0, 0, 0.556);
                    }
                }
            }

            h1 {
                margin-top: 24px;
            }

            .stars {
                margin-top: 24px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                gap: 12px;
                font-size: 18px;
                color: rgba(0, 0, 0, 0.531);
                font-weight: 300;
            }

            .price {
                font-size: 22px;
                font-weight: 300;
                margin-top: 24px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                p:first-child {
                    font-weight: 600;
                    font-size: larger;
                    color: rgba(0, 0, 0, 0.65);
                }

                .price_explaination {
                    font-size: 12px;
                    color: rgba(0, 0, 0, 0.531);
                    font-weight: 300;
                }
            }

            overflow: visible;

            .colors {
                .color_text {
                    span {
                        font-weight: 600;
                        font-size: larger;
                        color: rgba(0, 0, 0, 0.65);
                    }
                }

                margin-top: 24px;

                .swiper-wrapper {
                    gap: 12px;
                }

                .swiper-slide {
                    width: 24px !important;
                }

                overflow: visible;

                .ThumbLine {
                    overflow: visible;
                    margin-top: 12px;
                }

                .ColorRound {
                    overflow: visible;

                    transition: 0.2s;
                    width: 24px;
                    height: 24px;
                    border-radius: 24px;
                    border: 6px solid rgba(0, 0, 0, 0.348);
                    cursor: pointer;
                }

                .ColorRound:hover {
                    overflow: visible;

                    transition: 0.2s;
                    transform: scale(110%);
                }
            }

            .sizes {
                margin-top: 24px;

                p {
                    font-weight: 600;
                    font-size: larger;
                    color: rgba(0, 0, 0, 0.65);
                }

                .sizes_box {
                    margin-top: 12px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 6px;
                }

                .size_bullet {
                    cursor: pointer;
                    transition: 0.2s;
                    padding: 4px 8px;
                    background-color: rgba(255, 255, 255, 0.727);
                    color: rgba(0, 0, 0, 0.492);
                    border-radius: 6px;
                    box-shadow: 2px 2px 2px #e6295814,
                        -2px -2px 2px #ff336d00;

                }

                .size_bullet:hover {
                    transition: 0.2s;
                    padding: 4px 10px;
                }
            }

            .buy {
                margin-top: 24px;
                display: flex;
                gap: 12px;
            }

            .additional_info {
                margin-top: 24px;

                .description {
                    max-width: 80%;

                    .description_title {
                        font-weight: 600;
                        font-size: larger;
                        color: rgba(0, 0, 0, 0.65);
                    }

                    .description_text {
                        margin-top: 12px;
                        color: rgba(0, 0, 0, 0.56);
                    }
                }
            }
        }
    }

    .divider {
        display: none;
    }
}

@media screen and (max-width: 920px) {
    nav {
        display: none;
    }

    .divider {
        display: block !important;
        height: 2px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.066);
        border-radius: 2px;
        margin-top: 24px;
    }

    .product_details {
        margin-top: 90px;

        main {
            margin-top: 12px;
            flex-direction: column;
            gap: 0 !important;

            .images {
                .Swiper__main {
                    width: calc(100vw - 20px) !important;
                    border-radius: 12px;
                    overflow: hidden;
                    background-color: red;
                }
            }

            .Details {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .colors {
                    order: -1;
                }

                .factory {
                    order: 99;
                }

                h1 {
                    margin-top: 0 !important;
                    font-size: 30px;
                }

                .priceandstars {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    align-items: center;
                }

                .buy {
                    display: flex;
                    flex-wrap: wrap;

                    .cart {
                        width: calc(100% - 52px) !important;
                    }

                    .buy_now {
                        width: 100% !important;
                    }
                }
            }
        }

        margin-bottom: 48px;
    }
}