.ProductCard {
    font-family: "Roboto";
    width: 260px;
    border-radius: 8px;
        // background-color: #fff;
        box-shadow:  5px 5px 15px #dadada,
             -5px -5px 15px #fafafa;

    .ActionsBox{
        width: 260px;
    }
    .img_block {
        width: 100%;
        width: 260px;
        height: 260px;
        overflow: hidden;
        

        img {
            border-radius: 8px 8px 0 0 ;

            width: 260px;
            display: block;
            cursor: pointer;
            transition: 0.2s;
        }

        img:hover {
            transition: 0.2s;

            transform: scale(115%);
        }

        .image:hover {
            transition: 0.2s;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: scale(115%);
        }

        .image {
            width: 260px;
            height: 260px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #98989837;
            flex-direction: column;
            gap: 8px;
        }
    }

    .info_block {
        margin-top: 22px;
        padding: 6px;

        .price {
            font-size: 2.25rem;
            font-weight: 900;
        }

        h3 {
            font-size: 1.375rem;
            font-weight: 300;
            margin-top: 12px;
            height: 50px;
        }

        .rate {
            margin-top: 12px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            gap: 12px;
        }

        
    }
    // button {
    //     cursor: pointer;
    //     margin-top: 12px;
    //     padding: 6px;
    //     color: white;
    //     font-size: 1.2rem;
    //     font-weight: 900;
    //     background-color: #CD0000;
    //     border-radius: 3px;
    //     width: 100%;
    //     border: none;
    //     display: flex;
    //     gap: 18px;
    //     align-items: center;
    //     justify-content: center;
    // }
}

@media screen and (max-width: 920px) {
    .ProductCard {
        .ActionsBox{
            width: calc(50vw - 30px);
        }
        margin-top: 32px;
        width: calc(50vw - 30px);
        border-radius: 8px;
        // background-color: #fff;
        box-shadow:  5px 5px 15px #dadada,
             -5px -5px 15px #fafafa;
        .img_block {
            width: calc(50vw - 30px);
            height: calc(50vw - 30px);
            border-radius: 8px 8px 0px 0px;

            img {
                width: calc(50vw - 30px);
            }

            .image {
                width: calc(50vw - 30px);
                height: calc(50vw - 30px);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 8px;
                background-color: #98989831;
            }
        }

        .info_block {
            margin-top: 8px;
            .price {
                // margin-top: 0px;
                font-size: 18px;
                color: #CD0000;
                font-weight: 300;

                text-align: end;
                display: flex;
                justify-content: space-between;
                .colors{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;
                    .OneColor{
                        height: 22px;
                        width: 22px;
                        border-radius: 11px;
                        border: 3px solid #00000030
                    }
                }

            }

            h3 {
                font-size: 18px;
                margin-top: 0px;
                font-weight: 500;
                // text-decoration: underline;
            }

            button {
                font-size: 14px;
                font-weight: 300;
                padding: 3px;
                background-color: #CD0000;
            }
        }
    }
}