.SubCategory {
    nav{
        h1{
            font-size: 42px;
            text-transform: uppercase;
        }
    }
    .subcatsfeed{
        width: 100%;
        display: flex;
        gap: 12px;
        margin-top: 12px;
        overflow-x: scroll;
        padding-bottom: 6px;
        .OneSubcat{
            min-width: 160px;
            height: 60px;
            background-color: #CD0000;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            text-transform: uppercase;
            transition: 0.2s;
            width: max-content !important;
            
        }
        .choosen{
            background-color: #ffffff00;
            border: #CD0000 1px solid;
            color: #cd0000;
            cursor: pointer;
        }
        
        .OneSubcat:hover{
            background-color: #dc1919;
            transition: 0.2s;
            color: #fff;
        }

        .choosen:hover{
            background-color: #ffffff9d;
            transition: 0.2s;
            color: #CD0000;
        }
    }
    .feed {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 50px;
    }
}


@media screen and (max-width: 920px) {
    .SubCategory {
    margin-top: 90px;

        .OneSubcat{
            min-width: 140px !important;
        }
        .feed {
            margin-top: 0px;
            justify-content: space-between;
            gap: 20px;
        }
    }
}