.SubCategory {
    margin-top: 90px;
    .feed {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 50px;
    }
}


@media screen and (max-width: 920px) {
    .SubCategory {
        .feed {
            margin-top: 0px;
            justify-content: space-between;
            gap: 20px;
        }
    }
}