.images_edit_form{
    font-family: "Roboto", serif;   
    h3{
        margin-bottom: 24px;
    } 
    .add_block{
        margin-bottom: 24px;
    }
    .old_images{
        margin-top: 24px;
        .colors_list{
            .color_variant{
                background-color: white;
                border-radius: 12px;
                overflow: hidden;
                margin-top: 24px;
                display: flex;
                justify-content: space-between;
                img{
                    height: 180px;
                    max-width: 50%;
                }
                .edit_panel{
                    display: flex;
                    padding: 8px 6px;
                    flex-direction: column;
                    justify-content: space-between;
                    .edit_buttons{
                        display: flex;
                        justify-content: space-between;
                        gap: 6px;
                    }
                    .color_name{
                        display: flex;
                        flex-direction: column;
                        gap: 12px;                       
                        
                    }
                    .color_brick{
                        display: flex;
                        justify-content: space-between;
                        gap: 6px;
                        .color_dot{
                            width: -webkit-fill-available;
                            border-radius: 6px;
                            height: 36px;
                            // background-color: #CD0000;
                            align-self: flex-end;
                            border: 2px solid #000000;
                        }
                    }
                
                }
            }
        }
    }
    .EditColorModal{
        background-color: red;
        .colors_list{
            display: flex;
            flex-wrap: wrap;
        }
    }
}

/* Скрываем стандартный инпут */
#file-upload {
    display: none;
}

/* Стилизуем кастомную кнопку */
.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-family: "Roboto", serif;
    color: #fff;
    background-color: #CD0000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Эффект при наведении */
.custom-file-upload:hover {
    background-color: #CD0000;
}

/* Эффект при нажатии */
.custom-file-upload:active {
    background-color: #CD0000;
}