.BoxCreate{
    margin-top: 120px;
    h1{
        text-align: center;
        text-transform: uppercase;
    }
    .boxer{
        margin-top: 48px;
    }
    .form{
        margin-top: 24px;
        p{
            margin-bottom: 6px;
        }
    }
    .RegisterSubmit{
        margin-top: 48px;
    }
}