.QuickAuthModal{
    font-family: "Roboto", serif;
    .ModalInfo{
        font-size: 1.2rem;
        font-weight: 300;
    }
    .ModalButtons{
        margin-top: 24px;
        display: flex;
        flex-direction: row;
        gap: 12px;
        justify-content: flex-end;
        a{
            
        }

    }
}