.Category {
    margin-top: 100px;
    .BoxViewRazdel{
        .RazdelTop{
            background-color: white;
            padding: 6px 12px;
            border-radius: 5px;
            font-size: 24px;
            margin-top: 36px;
            text-align: center;
        }
    }
    .profile_picture {
        display: flex;
        align-items: flex-start;
        gap: 4px;

        img {
            width: 60px;
            border-radius: 30px;
        }

        svg {
            transition: 0.2s;

        }

        svg:hover {
            transition: 0.2s;
            transform: scale(120%);
        }
    }
    .main_feed {
        .sub_feed {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 50px;
        }
    }
}


@media screen and (max-width: 920px) {
    .BoxInfo{
        display: flex;
        flex-direction: column;
        gap: 12px;
        .topInfo{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #ffffff;
            padding: 12px;
            border-radius: 6px;
        }
        .bottomInfo{
            padding: 12px;
        }
    }
    
    .Category {
        .SaveBox{
            display: flex;
            justify-content: flex-end;
            padding: 12px 0px;
            gap: 12px;
            .notation{
                text-align: end;
                font-size: 12px;
                display: flex;
                justify-content: flex-end;
                color: #222;
            }
        }
        .main_feed {
            .subcat {
                margin-top: 62px;

                h4 {
                    transition: 0.2s;
                    font-size: 20px;
                    font-weight: 700;
                    color: #ffffff;
                    text-transform: uppercase;
                    background-color: #CD0000;
                    border: 4px solid #ffffff;
                    padding: 4px 8px;
                    border-radius: 12px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        font-size: 40px !important;
                    }
                }

                h4:hover {
                    transition: 0.2s;

                    background-color: #d20236;
                    border: 4px solid #d20236;

                }

                
            }
            

        }

    }
    .sub_feed {
        margin-top: 0px !important;
        justify-content: space-between !important;
        gap: 16px !important;
    }

}